*{
    margin: 0px;
    padding: 0px;
}
 li{
    list-style: none;
}
a{text-decoration: none;
    color: aliceblue;
}
li:hover{
    cursor: pointer;
}
body{
    background-size: 100% 100%;
    /* background: url(image/4.jpg); */
}

/* main */
.main{
    width: 1800px;
    height: 1200px;
}
.list{
    width: 1800px;
    height: 100px;
    font-size: 30px;
}
.list span{
    margin: 50px 0px 0px 50px ;
    position: absolute;
    width: 1800px;
    height: 50px;
    border-bottom: 2px black solid;
    letter-spacing: 2px;
}

ul{
    top: 100px;
    left: 70px;
    position: absolute;
    width: 1800px;
    height: 50px;
}
.list  li{
    color: aliceblue;
    background: rgb(91, 133, 98);
    height: 50px;width: 178px;line-height: 50px;
    float: left;
    /* border: 1px solid black; */
    text-align: center;
}
/* 文件动画 */
li:hover{
    color: red;
}
.wenjian:hover .wenjian2 {
    display: block;
}
.wenjian2 {transition: all linear 1s;
    position: absolute;
    width: 178px;
    height: 84px;
    top: 50px;
    left: 0px;
    display: none;
}
#open:hover ul {
    opacity: 1;
    left: 180px;
}
#open ul{
    transition: all linear 1s;
    opacity: 0;
    position: absolute;
    width: 178px;
    height: 84px;
    top: 0px;
    left:0px;
}
 .gongju2{
    display: none;
    z-index: 3;
    position: absolute;
    width: 178px;
    height: 0px;
    top: 50px;
    left: 1080px;
    opacity: 0;
}
.gongju:hover .gongju2{
    display: block;
    opacity: 1;
    height: 84px;
    transition: all linear 1s;
}
.labelstyle{
    margin-bottom: 10px;
}
/* file */
.choosefile{max-width: 180px;
    font-size: 35px;
    position: absolute;
    left: 0px;
    top: 0px;
    opacity: 0;
}
.choosefile2{
    height: 30px;
    max-width: 60px;
    position: absolute;
    left: 890px;
    top: 552px;
    opacity: 0;
    cursor: pointer;
}
/* #image */
img{
    border-radius: 5px;
    width: 1125px;
    height: 1450px;
}
#image,#image2{
    margin-top: 10px;
    width: 1350px;
    position: absolute;
    top: 150px;
    left: 400px;
    z-index: 1;
}
.gongshitu{
    margin-top: 5px;
    width: 1020px;
    height: 400px;
}
/* centerbanner */
#centerbanner{
    left: 300px;
    top: 200px;
    position: absolute;
    width: 1350px;
    height: 1100px;
    z-index: 2;
}
#centerbanner2{
    width: 1350px;
    height: 1110px;
    border: 1px black solid;
    background: rgba(92, 92, 92, 0.103); 
}#centerbanner3{
    width: 1350px;
    height: 1110px;
    border: 1px black solid;
    background: rgba(92, 92, 92, 0.103); 
}
.cb2{
    width: 1350px;
    height: 1100px;
    background: rgba(255, 255, 255, 0.61);
    border: 1px black solid;
}
.cb2 .h2{
    line-height: 50px;
    color: rgb(255, 255, 255);
    display: block;
    width: 1350px;
    height: 50px;
    background: rgba(0, 0, 255, 0.548);
}
.cb2 h2{
    margin-left: 25px;
    letter-spacing: 2px;
}
.buttongroup{
    float: left;
    width: 1350px;
    height: 1050px;
    /* background: rgba(92, 92, 92, 0.103); */
}
.btng1,.btng2,.btng4{
    display: block;
    float: left;
    width: 280px;
    height: 40px;
}
.banner,.banner2,.banner4{
    width: 1350px;
    height: 1100px;
    margin-left: 150px;
    
}
/* GLI2 */
#GLI2, #juli2,#gaocheng,#podu,#GPI{
    width: 1350px;
    height: 1100px;
}
/* 通用 */
form{
    width: 1000px;
    font-size: 25px;
}
form label{
    margin-top: 10px;
    display: inline-block;
    width: 1000px;
    height: 30px;
    line-height: 30px;
}
 form input{
    vertical-align:middle ;
    width: 400px;
    height: 25px;
    border-radius: 5px;
    border: rgba(0, 0, 0, 0.486) 1px solid;
    margin-bottom: 4px;
}
form button{
    vertical-align:middle ;
    line-height: 30px;
    background: white;
    width: 60px;
    height: 30px;
    border: 1px solid black;
    border-radius: 5px;
    margin-bottom: 5px;
    float: right;
    margin-right:200px; 
}
.divbutton{
    float: right;
    width: 200px;
    height: 30px;
    margin-right: 135px;
}
.divbutton button{
    margin-right: 0px;
}
.neXT{
    margin-top: 20px;
}
/* close按钮 */
.close{
    width: 1350px;
    height: 50px;
    float: right;
    position: absolute;
}
.close button{
    font-size: 40px;
    line-height: 50px;
    border: none;
    background: rgba(255, 255, 255, 0.52);
    width: 50px;
    height: 50px;
    float: right;
}
/* biaoge  + banner4open*/
#banner4open{
    margin-left: 0px;
    text-align: center;
    background: rgba(255, 255, 255, 0.472);
}
.firstp {
    width: 1125px;
    height: 35px;
    border: 1px solid black;
    line-height: 35px;
}
.firstp p{
    border-radius: 5px;
    border-left:1px solid black; 
    float: left;
}
#igpi,#liuyu{
    position: absolute;
    left: 900px;
}
/* image */
.tableimg{
    border: 1px solid black;
    width: 1125px;
    height: 1450px;
    float: left;
    margin-left: 115px;
}
#tableimg{
    border: 1px solid black;
    width: 1125px;
    height: 1450px;
    float: left;
    margin-left: 115px;
}
#sep{
    border: 1px solid black;
    height: 140px;
    position: absolute;
    width: 250px;
    right: 108px;
    background: gray;
}#sep p{
    float: left;
}
#sep p:hover{
    color: aliceblue;
    cursor: pointer;
}

/* 调控 */
#tiaokong4 button{
    border-radius: 0px;
    width: 120px;
    height: 35px; 
    float: left;
    margin-right:0px; 
    border: solid 1px black;
    margin-bottom: 0px;
}
#tiaokong4 input{
    float: right;
}
#tiaokong4 label{
    height: 30px;
}

#guankongcuoshi label{
    margin-top: 50px;    
}
#gongchengcuoshi,#shengwucuoshi,#guankongcuoshi{
    padding-left:125px; 
    font-size: 24px;
    line-height: 20px;
    height: 450px;
    padding-top: 50px;
}
#gongchengcuoshi {
    padding-top: 15px;
}
#gongchengcuoshi label{
    margin-top: 25px;    
}
#shengwucuoshi label{
    margin-top: 15px;    
}

#guankongcuoshi .divbutton button{
    background: white;
    margin-right: 25px;
    float: right;
}
.duoxuan{
    margin-left: 200px;
}
.duoxuan input{
    margin-right:  200px;
}
/* 成本估算 */
#chengbengusuan{
    font-size: 22px;
    text-align: center;
    margin-top: 150px;
    width: 1170px;
    height: 800px;;
}
.table1{
    margin-left: 150px;
    background: white;
}
table thead {
    background: orange;
}
table th{
}
.table1 .divbutton button{
    float: left;
    border-radius: 0px;
    width: 120px;
    height: 35px; 
    margin-right:0px; 
    margin-bottom: 0px;
}
/* n */
.next2{
    display: none;
}
.cb2{
    width: 1350px;
    height: 900px;
    background: rgba(255, 255, 255, 0.61);
    border: 1px black solid;
}
.cb3 .h2{
    line-height: 50px;
    color: rgb(255, 255, 255);
    display: block;
    width: 1350px;
    height: 50px;
    background: rgba(0, 0, 255, 0.548);
}
.cb3{
    background: rgba(92, 92, 92, 0.103); 
}
/* biaogetu */
.biaogetu img{
    display: none;
    width: 520px;
    position: absolute;
    height: 35px;
    z-index: 5
}.biaogetu img:last-child{
    display: block;
}